*~
*.kate-swp
*.swp
buildshoot-server
buildshoot-server.exe
.kateconfig
.project
.settings
localSettings.js
bin
pkg
github.com
code.google.com
*.blend[0-9]*
*.orig
.git/info/attributes
*.idea
*.DS_Store