*~
*.kate-swp
*.kateproject.d
*.swp
buildshoot-server
buildshoot-server.exe
.project
.settings
bin
pkg
github.com
code.google.com
*.blend[0-9]*
*.orig
.git/info/attributes
*.idea
*.iml
*.DS_Store
client-build
client/world/
securerunweb