#chat {
	padding: 8px;
}
#chat .messages {
	padding: 4px 0px;
}
#chat .message-wrapper {
	text-align: left;
}
#chat .message {
	display: inline-block;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.5);
}
#chat.active .message {
	color: black;
	opacity: 1;
	/* I just can't get this to properly transition in... oh well...
	transition: opacity 1s ease-in-out;*/
}

#chat:not(.active) .message{
	-webkit-animation-delay: 3s;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#chat .input {
	width: 100%;
	opacity: 0;
	padding: 4px;
	border: rgba(255, 255, 255, 1) solid 2px;
	background: rgba(255, 255, 255, 0.5);
}
#chat .input:focus {
	outline: none;
	opacity: 1;
}
