#inventory {
	width: 100%;
	padding: 2px 6px 10px 6px;
	test-align: center;
}
#inventory li {
	display: inline;
	padding: 4px;
	border: 2px solid transparent;
	font-weight: bold;
}
#inventory li.selectedLeft {
	-webkit-animation: item-changed-left 1s forwards;
}
#inventory li.selectedRight {
	-webkit-animation: item-changed-right 1s forwards;
}

@-webkit-keyframes item-changed-left {
	from {
		background: rgba(100, 255, 100, 0.5);
		border-color: rgba(100, 255, 100, 1);
	}
	to {
		background: rgba(100, 255, 100, 0.05);
		border-color: rgba(100, 255, 100, 0.1);
	}
}

@-webkit-keyframes item-changed-right {
	from {
		background: rgba(100, 100, 255, 0.5);
		border-color: rgba(100, 100, 255, 1);
	}
	to {
		background: rgba(100, 100, 255, 0.05);
		border-color: rgba(100, 100, 255, 0.1);
	}
}