#inventory {
	width: 100%;
	z-index: 100;
	padding: 2px 6px 10px 6px;
	text-align: center;
}
#bag {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -169px 0 0 -169px;
	width: 338px;
	height: 338px;
}
#inventory div.slot {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	background: rgba(255, 255, 255, 0.4);
	border: 3px solid rgba(50, 50, 50, 1);
}
span.stack {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.4em;
	font-weight: bold;
}
div.helper {
	position: relative;
	display: inline-block;
	background-image: url('/img/items.png');
	background-position: 0px 0;
	width: 64px;
	height: 64px;
}
#inventory div.equip {
	margin-bottom: 10px;
	-webkit-animation: item-not-changed 1s forwards;
}
#inventory #bag div.has-left-sibling {
    margin-left: -3px;
}
#inventory #bag div.has-top-sibling {
    margin-top: -3px;
}
#inventory div.left {
	float: left;
}
#inventory div.right {
	float: right;
}
#inventory div.selected {
	-webkit-animation: item-changed 1s forwards !important;
}
@-webkit-keyframes item-changed {
	from {
		opacity: 0.4;
		border-color: rgba(50, 50, 50, 1);
	}
	to {
		opacity: 1;
		border-color: rgba(100, 100, 255, 1);
	}
}
@-webkit-keyframes item-not-changed {
	from {
		opacity: 1;
		border-color: rgba(100, 100, 255, 1);
	}
	to {
		opacity: 0.4;
		border-color: rgba(50, 50, 50, 1);
	}
}