#container.interactive #splash {
	display: none;
}
#splash {
	display: table;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
}
#splash #instructions {
	display: table-cell;
	vertical-align: middle;
	padding: 20%;
}

#container.interactive #info {
	display: none;
}
#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
}

#container.interactive #stats {
	display: none;
}
