<h1>Welcome to BuildBlast</h1>
<p>This game is in pretty heavy development. This website is more fragile than the 1930's economy in America.<br>
<a href="play.buildblast.com">PLAY!</a></p>

<p>Users (for dev purposes):</p>

<% @users.each do |user| %>
  <p>User: <%= user.name %> </p>
<% end %>
